:root {
    --body-background: #252529;
    --white-color: #fff;
    --navigation-color: #eee;
    --dark-color: #333;
    --small-device: 576px;
    --font: 'PT Sans', sans-serif;
    --main-backdrop: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: var(--font);
    color: var(--white-color);
    background-color: var(--body-background);
    background-image: url(assets/images/main.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100vw;
}

* {
    box-sizing: border-box;
}

.bg-light {
    color: var(--dark-color);
}

.burger {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    display: none;
}

.burger:after {
    content: "|||";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 12px;
}

@media screen and (max-width: var(--small-device)) {
    .burger {
        display: inline-block;
    }
}


.header-container{
    background-color: #333;
    padding:20px;
    width: 100vw;
    height: 60px;
}
.header-container,span{
    padding-left: 30px;
}

.guitar-container{
    position: relative;
}

 .media-cont{
     height: 70vh;
     margin-top: 10vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.mymedia-container{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 3vh;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.tablet-container{
    background-color: #333;
    width: 100vw;
    height: auto;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablet{
    width: 100vw;
    margin-top: 20px;
}
.bela{
    background-color: var(--white-color);
    
}
